/* Estilos Globais
-------------------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: lightsteelblue;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
}
h1, h2 {
    font-family: 'Caveat', cursive;
    margin: 5px;
    line-height: 1.25;
}
.alinhar {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
}
a:hover {
    color: white;
    text-decoration: none;
}
img {
    width: 300px;
}
.lista {
    list-style-type: none;
    padding: 0;
}
.lista li {
    display: inline-block;
    padding: 10px;
}
.lista img {
    width: 50px;
}


/* Sobre / Perfil
-------------------------------------------*/
header{
    background-color: #384E77;
    color: whitesmoke;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.links .linkedin {
    width: 2.5rem;
    transition: 0.2s ease-in-out;
}
.links .linkedin:hover {
    transform: scale(1.2);
}
.links .github {
    width: 2.5rem;
    transition: 0.2s;
}
.links .github:hover {
    transform: scale(1.2);
}


/* Projetos / Portfolio
-------------------------------------------*/
.portfolio {
    background-color: #C3D2D5;
}
.portfolio h2 {
    margin-bottom: 25px;
}
.projetos {
    overflow: hidden;
    padding: 15px 0;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
    border-bottom: 1px dashed gray;
}
.alinhar > .projetos:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}
.projetos h3 {
    margin-top: 0;
}
.portfolio .escondido {
    display: none;
}
.portfolio .borda {
    border-bottom: none;
}
.portfolio .mostrar {
    width: 50%;
    color: #ffffff;
    background-color: #202A25;
    border: none;
    padding: 0.35rem;
    cursor: pointer;
    border-radius: 1rem;
    transition: 0.2s ease-in-out;
}
.portfolio .mostrar:hover {
    color: #ffffff;
    background-color: #4e5551;
    transform: scale(1.1);
}
.portfolio .projetos img {
    transition: 0.2s ease-in-out;
}
.portfolio .projetos img:hover {
    transform: scale(1.1);
}


/* Tecnologias
-------------------------------------------*/
.tecnologias {
    background-color: #246C84;
}


/* Principais Soft Skills
-------------------------------------------*/
.soft {
    background-color: #1888ad;
}

/* Informações de Contato
-------------------------------------------*/
footer {
    background-color: #89A7A7;
    color: whitesmoke;
}
.contatos {
    list-style-type: none;
    padding: 0;
}
.contatos a {
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}


/* Responsividade
-------------------------------------------*/
@media screen and (min-width: 805px) {
    .projetos img {
        float: left;
    }
}
@media screen and (max-width: 805px) {
    .projetos h3 {
        margin-top: 1rem;
    }
}
@media screen and (min-width: 550px) {
    .projetos img {
        margin-right: 20px;
    }
    .contatos, .lista {
        display: flex;
        justify-content: center;
    }
    header, .portfolio, .tecnologias, .soft, footer {
        text-align: center;
    }
}
@media screen and (max-width: 549px) {
    h1 {
        font-size: 45px;
        margin-bottom: 15px;
    }
    h1, h2 {
        line-height: 1;
    }
    .contatos a {
        padding: 5px;
    }
    .lista li {
        padding: 5px;
    }
}